body{
    background-color: #141519;
}

.parent {
    color: #757c86;
     width: 350px;
    padding: 50px;
    margin: auto;
    background-color: #171e28;
    border-radius: 30px;
    justify-content: space-between;
    text-align: center;
}
.girl {
    background-color: #262f38;
    color: #fb7512;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    
    
}        